// Colors

$brand-color-orange: #f7a62b;
$brand-color-darken-orange: darken($brand-color-orange, 15%);
$brand-color-grey: #3f3f3f;
$brand-color-lighten-grey: lighten($brand-color-grey, 5%);
$white: #ffffff;
$black: #000000;

// Fonts

$font-family-heading: ('Montserrat', sans-serif);
$font-family-plaintext: ('Raleway', sans-serif);

// Container

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1280px;

$container-padding-mobile: 20px;
$container-padding: 30px;

$tablet: '(min-width: #{$width-tablet})';
$desktop: '(min-width: #{$width-desktop})';

$retina: '(min-resolution: 2dppx)';
