extends ../../_layout.pug

append head
  title Krusar - Digital Marketing Agency

block header
  include components/page-header/page-header.pug
block main
  include components/page-main/page-main.pug
block footer
  include components/page-footer/page-footer.pug
