.section-title {
  font-family: $font-family-heading;
  line-height: 1.2em;
  text-align: center;

  &::after {
    content: attr(data-subtitle);
    display: block;
    color: $brand-color-orange;
    font-size: 0.5em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
}
