.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media #{$desktop} {
    margin-bottom: 200px;
  }
}

.works-list__item {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  background-color: $brand-color-lighten-grey;
  box-shadow: 0 0 23px -10px $black;
  transition-property: transform, box-shadow;
  transition: 200ms ease-out;

  @media #{$desktop} {
    position: relative;
    z-index: 0;

    &:hover,
    &:focus-within {
      outline: none;
      backface-visibility: hidden;
      transform: scale(1.05);
      box-shadow: 0 0 30px -5px $black;
      z-index: 1;

      .works-list__item-info {
        transform: translateY(200px);
        box-shadow: 0 0 30px -5px $black;
      }
    }
  }
}

.works-list__item-picture {
  order: -1;
  z-index: 1;
}

.works-list__item-image {
  display: block;
  min-width: 230px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.works-list__item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $brand-color-lighten-grey;
  padding: 15px;

  @media #{$desktop} {
    position: absolute;
    transform: translateY(0);
    transition-property: transform, box-shadow;
    transition: 300ms ease-out;
  }
}

.works-list__item-title {
  font-family: $font-family-heading;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}


.works-list__item-date {
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 15px;
  opacity: 0.5;
}

