.blog__title {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;

  @media #{$tablet} {
    font-size: 34px;
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-bottom: 40px;
  }

}

.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media #{$tablet} {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.blog__link-wrapper {
  display: block;
  position: relative;
  color: inherit;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to top, fade-out($black, 0.65) 0%, fade-out($black, 0.9) 75%);
    transform: translateY(0);
    transition: transform 200ms ease-out;
    z-index: 1;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before{
      transform: translateY(-50%);
    }

    .blog__picture {
      transform: scale(1.1);
    }
  }
}

.blog__case-name {
  position: absolute;
  inset: auto 0 0;
  margin: 0;
  padding: 15px;
  z-index: 1;

  @media #{$desktop} {
    font-size: 16px;
  }
}

.blog__tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  inset: 0 0 auto;
  list-style: none;
  margin: 0;
  padding: 15px;
  z-index: 1;
}

.blog__tag {
  display: block;
  font-family: $font-family-heading;
  font-size: 10px;
  line-height: 1em;
  font-weight: 600;
  background-color: $brand-color-orange;
  padding: 5px;
}

.blog__picture {
  display: block;
  height: 100%;
  transition: transform 600ms ease-out;
}

.blog__image {
  display: block;
  width: 100%;
  height: 158px;
  object-fit: cover;
  object-position: center;

  @media #{$tablet} {
    height: 200px;
  }
}
