.services__title {
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;

  @media #{$tablet} {
    font-size: 34px;
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-bottom: 40px;
  }

}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sevices__item {
  display: grid;

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    &:nth-child(even) {
      .services__picture {
        grid-column: 1/ 2;
      }

      .services__info {
        box-shadow: 10 0 20px -14px $black;
      }
    }
  }

  @media #{$desktop} {
    column-gap: 30px;

    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }
}

.services__info {
  box-shadow: 0 -10px 20px -14px $black;
  margin: 0 -10px;
  padding: 20px;

  @media #{$tablet} {
    box-shadow: -10 0 20px -14px $black;
    margin: 0;
  }

  @media #{$desktop} {
    padding: 30px 40px;
  }
}

.services__service-name {
  font-family: $font-family-plaintext;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 15px;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 5em;
    background-color: $brand-color-orange;
    margin-top: 0.75em;
  }

  @media #{$desktop} {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.services__description {
  margin: 0;
  margin-bottom: 10px;

  @media #{$desktop} {
    margin-bottom: 25px;
  }
}

.servises__subservice-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;

  @media #{$desktop} {
    display: block;
    padding-left: 20px;
  }
}

.servises__subservice-item {
  display: flex;
  align-items: baseline;

  &::before {
    content: '';
    min-width: 0.75em;
    height: 0.75em;
    background-color: $brand-color-orange;
    border-radius: 50%;
    margin-right: 0.5em;
  }

  @media #{$desktop} {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.services__picture {
  order: -1;
  justify-self: center;
  margin-bottom: 15px;

  @media #{$tablet} {
    grid-column: 2/ -1;
    grid-row: 1/ -1;
    margin-bottom: 0;
  }
}

.services__image {
  display: block;
  object-fit: contain;
  width: 240px;
  height: 216px;

  @media #{$tablet} {
    width: 310px;
    height: 280px;
    margin: -15px 0;
  }

  @media #{$desktop} {
    width: 540px;
    height: 486px;
    margin: -40px 0;
  }
}
