.intro-index
  .intro-index__container.container
    h1.visually-hidden Krusar – маркетинговое агентство полного цикла
    svg.intro-index__logo(width='220', height='34', aria-hidden='true')
      use(href='./images/sprite.svg#logo')
    p.intro-index__subtitle Digital Marketing Agency
    .intro-index__divider.divider
    p.intro-index__slogan Современные методы#[br] для #[span.text-accent успешного] бизнеса
