.intro-index
  .intro-index__content.container
    h1.visually-hidden Krusar – маркетинговое агентство полного цикла
    svg.intro-index__logo(width='130', height='20', aria-hidden='true')
      use(href='./images/sprite.svg#logo')
    p.intro-index__subtitle Digital Agency
    span.intro-index__divider(aria-hidden='true')
    p.intro-index__slogan Современные методы для успешного бизнеса
