.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.page-header__link {
  color: $brand-color-cyan;
}

.page-header__logo {
  display: block;
  width: 30px;
  height: 26px;
}
