.page-header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 2;

  &--nojs,
  &--scrolled {
    background-color: $brand-color-lighten-grey;
    box-shadow: 0 -15px 25px $black;
    padding: 12px 0;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
