main.page-main
  section.page-main__intro
    include ../intro-index/intro-index.pug
  section.page-main__services(id='services')
    include ../services/services.pug
  section.page-main__portfolio(id='portfolio')
    include ../portfolio/portfolio.pug
  section.page-main__blog(id='blog')
    include ../blog/blog.pug
