.spoiler__label {
  display: flex;
  align-items: center;
  font-family: $font-family-heading;
  color: $white;
  background-color: $brand-color-lighten-grey;
  padding: 10px;
  transition-property: background-color, max-width;
  transition-duration: 100ms, 800ms;
  transition-timing-function: ease-in-out, ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: fade-out($brand-color-cyan, 0.8);
  }

  @media #{$tablet} {
    max-width: calc(50% - 10px);
  }
}

.spoiler__label-icon {
  display: block;
  width: 12px;
  height: 12px;
  color: $brand-color-cyan;
  transition: transform 200ms ease-in-out;
  margin-right: 10px;
}

.spoiler__content {
  max-height: 0;
  background-color: $brand-color-lighten-grey;
  transition-property: max-height, max-width;
  transition-duration: 800ms, 800ms;
  transition-timing-function: ease-in-out, ease-in-out;
  overflow-y: clip;

  &:focus-within {
    max-width: 100%;
    max-height: 600px;

    @media #{$tablet} {
      max-height: 300px;
    }
  }

  @media #{$tablet} {
    max-width: calc(50% - 10px);
  }
}

.spoiler__inner {
  padding: 10px;

  @media #{$tablet} {
    column-count: 2;
    column-gap: 20px;
  }
}

.spoiler__toggle:checked {
  & + .spoiler__label {
    max-width: 100%;

    & > .spoiler__label-icon {
      transform: rotate(90deg);
    }
  }

  & ~ .spoiler__content {
    max-width: 100%;
    max-height: 600px;

    @media #{$tablet} {
      max-height: 300px;
    }
  }
}

.spoiler__toggle:focus + .spoiler__label {
  background-color: fade-out($brand-color-cyan, 0.8);
}
