footer.page-footer
  .page-footer__container.container
    p.page-footer__text-item Copyright © 2023 Arkhipov Aleksander (#[a.link-external(rel='me', href='https://github.com/ArkHelvetios') ArkHelvetios])
    p.page-footer__text-item Under the #[a.link-external(rel='nofollow', href='https://github.com/ArkHelvetios/Archive/blob/main/LICENSE') GNU GPL 3 License]
    p.page-footer__text-item GitHub #[a.link-external(rel='nofollow', href='https://github.com/ArkHelvetios/Archive') source code]
