header.page-header.page-header--nojs
  .page-header__container.container
    .page-header__navigation
      include ../navigation/navigation.pug
    button.page-header__callback.button(type='button') Связаться
