header.page-header
  .page-header__container.container
    a.page-header__logo(href='./index.pug', aria-label='home')
      svg.logo__icon(width='', height='', aria-hidden='true')
        use(href='./images/sprite.svg#logo')
    .page-header__menu
      include ../navigation/navigation.pug
    .page-header__callback
