extends _layout.pug

append head
  title Archive of my works - Aleksander Arkhipov
  meta(name='description', content='Archive of my works for the period 2018-2022 as UI/UX designer. I used Adobe XD, Photoshop, Figma, Webflow, Tilda, WordPress, Bitrix and much more.')
  meta(name='keywords', content='portfolio, design, web-design, ui/ux design, front-end, we')
