.text-accent {
  color: $brand-color-cyan;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: currentColor;
  background-image: linear-gradient(135deg, $brand-gradient);
}
