.intro
  h1.intro__title Archive of my works
  .intro__description-wrapper
    p.intro__description Hello, my&nbsp;name&nbsp;is #[span.intro__text-accent Aleksander Arkhipov]. I&nbsp;am&nbsp;a&nbsp;freelance front&#8209;end developer now, but before that I worked as a UI/UX designer.
    p.intro__description.intro__description--accent In most cases I've used Webflow.io for building UI and than export source on clients hosting. Less often it was Tilda.ws or something similar.
    p.intro__description Below you can find my work as a UI/UX designer that I tried to save.
  picture.intro__picture-tag
    source(type='image/avif', srcset='./images/face.jpg?as=avif, ./images/face@2x.jpg?as=avif 2x')
    source(type='image/webp', srcset='./images/face.jpg?as=webp, ./images/face@2x.jpg?as=webp 2x')
    img.intro__image(src='./images/face.jpg', srcset='./images/face@2x.jpg 2x', alt='My photo', width='260', height='260')
